body{
    background-color: #EDF2F4;
    font-size: 2em;
    text-align: center;
    font-family: 'DM Sans';
    font-weight: 400;
    letter-spacing: 0.03em;
    margin: 0px;
    padding: 0px;
  }
  
  #wrapper{
    width: 100%;
    margin: 0px;
  }

  #wrapper img{
    width: 100%;
  }

  button{
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
  }
  
  button:hover{
    transition: 0.05s;
    transform: rotateZ(-10deg);
  }
  
  a{
    text-decoration: none;
    color:#de7b18;
  }

  a:hover{
    color:#ffa64d;
  }

  
  .title{
    font-size: 0.8em;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 7%;
    margin-right: 30%;
    margin-top: 80px;
  }

  #wrapper p{
    text-align: left;
    font-weight: 400;
    font-size: 0.6em;
    line-height: 1.4em;
    text-align: justify;
    word-wrap: break-word;
    margin-top: 15px;
    margin-left: 7%;
    margin-right: 30%;
    padding-bottom: 100px;
  }

  .ytcontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

  #work-button{
    position: fixed;
    z-index: 10;
    bottom: 2%;
    right: 28%;
  }

  #work-button img{
    width: 13em;
  }

  #collabs-button{
    position: fixed;
    z-index: 10;
    bottom: 1%;
    left: 24%;
    cursor: pointer;
  }

  #collabs-button img{
    width: 11em;
  }

  #memories-button{
    position: fixed;
    z-index: 10;
    bottom: 2%;
    left: 4%;
    cursor: pointer;
  }

  #memories-button img{
    width: 5em;
  }

  #bio-button{
    position: fixed;
    z-index: 10;
    bottom: 3%;
    right: 4%;
  } 

  #bio-button img{
    width: 11em;
  }
  

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .title{
      text-align: left;
      font-size: 1.6em;
      letter-spacing: 0.02em;
      margin-left: 3.5%;
      margin-right: 3%;
      margin-top: 40px;
      margin-bottom: 0px;
    }
  
    #wrapper p{
      text-align: left;
      font-size: 1.2em;
      line-height: 1.3em;
      margin-top: 10px;
      margin-left: 3.5%;
      margin-right: 5%;
      padding-bottom: 150px;
    }

    .vimeo {
      position:absolute;
      top:0;
      left:0;
      width:480px;
      height:100%;
    }
    
    #work-button{
      position: fixed;
      bottom: 1.5%;
      right: 30%;
    }
  
    #work-button img{
      width: 18em;
    }
   
    #collabs-button{
      position: fixed;
      bottom: 1%;
      left: 19%;
    }
  
    #collabs-button img{
      width: 14em;
    }
  
    #memories-button{
      position: fixed;
      bottom: 1.5%;
      left: 4%;
    }
  
    #memories-button img{
      width: 6em;
    }
  
    #bio-button{
      position: fixed;
      bottom: 2.5%;
      right: 5%;
    } 

    #bio-button img{
      width: 14em;
    }
  }

  @media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

    .title{
      text-align: left;
      font-size: 1.6em;
      letter-spacing: 0.02em;
      margin-left: 3.5%;
      margin-right: 3%;
      margin-top: 40px;
      margin-bottom: 0px;
    }
  
    #wrapper p{
      text-align: left;
      font-size: 1.2em;
      line-height: 1.3em;
      margin-top: 10px;
      margin-left: 3.5%;
      margin-right: 5%;
      padding-bottom: 150px;
    }
    
    #work-button{
      position: fixed;
      bottom: 1.5%;
      right: 30%;
    }
  
    #work-button img{
      width: 18em;
    }
   
    #collabs-button{
      position: fixed;
      bottom: 1%;
      left: 19%;
    }
  
    #collabs-button img{
      width: 14em;
    }
  
    #memories-button{
      position: fixed;
      bottom: 1.5%;
      left: 4%;
    }
  
    #memories-button img{
      width: 6em;
    }
  
    #bio-button{
      position: fixed;
      bottom: 2.5%;
      right: 5%;
    } 

    #bio-button img{
      width: 14em;
    }
  }